* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.ocultar {
    display: none;
}

.tabela-container-mobile, .tabela-container-maior, .registro-pesquisa-container {
    max-width: 1200px;
}

.tabela-container-maior {
    margin: 0px auto;
}

.logo {
    text-align: center;
    background-color: rgb(0, 161, 183);
    color: white;
    padding: 5px 0px;
}

.registro-pesquisa-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1px;
    width: 100%;
}

.descricao, .grupo, .valor, .campo-botoes {
    grid-column: span 3;
    width: 100%;
}

.select {
    grid-column: span 2;
}

.data-input {
    grid-column: span 1;
}

.descricao, .grupo, .valor, .select {
    height: 30px;
}

.campo-botoes {
    text-align: center;
    border-style: solid;
    border: 1px solid gray;
}

.margem-input {
    margin-bottom: 1px;
}

.bordas-input {
    border-style: solid;
    border: 1px solid grey;
    border-radius: 3px;
}

.botao, .botao-apagar {
    width: 80px;
    height: 30px;
    margin: 5px 0px;
    background-color: rgb(0, 161, 183);
    color: white;
    border-color: rgb(0, 225, 255);
}

.botao-apagar, .botao-excluir {
    background-color: rgb(255, 51, 51);
    border-style: solid;
    border: 1px solid rgb(255, 106, 106);
    border-radius: 3px;
}

.botao-excluir {
    width: 30px;
    height: 30px;
    color: white;
    font-size: 1.4em;
    font-weight: bold;
}

.botao-apagar:hover {
    background-color: rgb(255, 86, 86);
}

.botao:hover {
    background-color: rgb(0, 195, 221);
}

.tabela-container-mobile, .tabela-container-maior {
    margin-top: 10px;
}

.td-mobile {
    text-align: left;
    width: 65%;
}

.th-mobile {
    text-align: left;
    color: rgb(55, 55, 55);
}

.td-align {
    text-align: center;
}

.tabela-mobile, .tabela-maior {
    padding-left: 4px;
    margin-bottom: 5px;
    width: 100%;
    border: 1px solid gray;
    border-radius: 3px;
}

.tabela-maior {
    border-collapse: collapse;
    display: none;
    width: 90%;
    margin: 0px auto;
}

.celula {
    text-align: left;
    padding: 2px;
    border-bottom: 1px solid gray;
}

.cabecalho {
    height: 30px;
    background-color: rgb(0, 161, 183);
    color: white;
    border-left: none;
    border-right: none;
}

.data {
    width: 90px;
}

.botao-tabela-maior {
    text-align: center;
    width: 50px;
}

@media (min-width: 480px) and (max-width: 768px){
    .logo {
        padding: 10px 0px;
    }

    .tabela-container-mobile {
        display: none;
    }

    .registro-pesquisa-container {
        width: 90%;
        margin: 0px auto;
    }

    .tabela-maior {
        display: table;
    }
}

@media (min-width: 768px) and (max-width: 1024px){
    .logo {
        padding: 15px 0px;
        font-size: 2.5em;
    }

    .tabela-container-mobile {
        display: none;
    }

    .registro-pesquisa-container {
        width: 90%;
        margin: 0px auto;
    }

    .descricao, .grupo, .valor, .select {
        height: 40px;
    }

    .botao {
        width: 133px;
        height: 50px;
        border-radius: 5px;
        font-size: 1.3em;
    }

    .botao-excluir {
        width: 50px;
        height: 30px;
        font-size: 1.1em;
        margin-right: 5px;
    }

    .margem-input {
        margin-bottom: 2px;
    }

    .tabela-maior {
        display: table;
    }

    .celula {
        font-size: 1.2em;
    }

    .data {
        width: 120px;
    }
}

@media (min-width: 1025px){
    .logo {
        padding: 20px 0px;
        font-size: 2.7em;
    }

    .tabela-container-mobile {
        display: none;
    }

    .registro-pesquisa-container {
        width: 90%;
        margin: 0px auto;
    }

    .descricao, .grupo, .valor, .select {
        height: 50px;
    }

    .botao {
        width: calc(50% - 4px);
        height: 50px;
        margin: 0px;
        padding: 0px;
        border-radius: 5px;
        font-size: 1.3em;
    }

    .botao-excluir {
        width: 60px;
        height: 40px;
        font-size: 1.1em;
        margin-right: 10px;
    }

    .margem-input {
        margin-bottom: 2px;
    }

    .tabela-maior {
        display: table;
    }

    .celula {
        font-size: 1.2em;
    }

    .data {
        width: 120px;
    }

    .grupo {
        grid-column: span 2;
    }

    .select, .campo-botoes, .valor {
        grid-column: span 1;
    }

    .campo-botoes {
        text-align: right;
        margin: 0px;
        padding: 0px;
        border: none;
    }

    .tabela-container-maior {
        margin-top: 30px;
    }

    .celula {
        height: 50px;
        font-size: 1.3em;
        padding-left: 5px;
    }
}